body.catalog-product-page {
    background-color: #FAFAFA;
}
body.catalog-product-page .catalog-header .inner{
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
    padding: 1em;

    margin-top: 2em;
}
body.catalog-product-page .catalog-header .inner {
    background-image: url('./images/catalog_text.svg');
    background-repeat: no-repeat;
    background-position: left center;
}
body.catalog-product-page .catalog-header .breadcrumbs-page {
    display: flex;
    column-gap: 2em;
    color: #9E9E9E;

   
}
body.catalog-product-page .catalog-header .breadcrumbs-page .link {
    position: relative;
}
body.catalog-product-page .catalog-header .breadcrumbs-page .link::after {
    content: '>';
    position: absolute;
    top: 5%;
    right: -24px;
}
body.catalog-product-page .catalog-header .breadcrumbs-page .link:last-child:after {
    display: none;
}
body.catalog-product-page ul {
    list-style-type: none;
    padding-left: 0;
}

/* Catalog */
body.catalog-product-page .catalog-products {
    margin-top: 4em;
}
body.catalog-product-page .catalog-products .inner{
    display: flex;
    justify-content: space-between;
}
body.catalog-product-page .catalog-products .inner .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
body.catalog-product-page .catalog-products .inner .products .product {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
}
body.catalog-product-page .catalog-products .inner .products .onsale, body.catalog-product-page .catalog-products .inner .products .screen-reader-text {
    display: none;
}
body.catalog-product-page .catalog-products .inner .products .woocommerce-LoopProduct-link img {
    margin-bottom: 2em;
}
body.catalog-product-page .catalog-products .inner .products .woocommerce-loop-product__title {
    font-size: 1rem;
    font-weight: 400;
}
body.catalog-product-page .catalog-products .inner .products .product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body.catalog-product-page .catalog-products .inner .products .product-footer .product-price {
    font-size: 0.9em;
    font-weight: 600;
}
body.catalog-product-page .catalog-products .inner .products .add_to_cart_button {
    background-color: transparent;
    background: url(./images/cart.svg) center center no-repeat, var(--main-gradient-hor);
    border: none;
    width: 39px;
    height: 39px;
}

/* Filters */
body.catalog-product-page #primary .wpfPriceRangeField::-webkit-outer-spin-button, body.catalog-product-page #primary .wpfPriceRangeField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body.catalog-product-page #sidebar {
    width: 20%;
}
body.catalog-product-page #primary {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;


}
body.catalog-product-page #primary #wpfBlock_1 .wpfFilterContent label {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: .5em;
}
body.catalog-product-page #primary .wpfPriceRangeField {
    -moz-appearance: textfield;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    width: 100px;
    font-size: 0.8rem;
    padding-left: 0.5em;
}
body.catalog-product-page #primary .wpfFilterWrapper {
    margin-bottom: 1em;
}
body.catalog-product-page #primary .wpfFilterTitle {
    font-size: 0.8rem;
    font-weight: 500;
}
body.catalog-product-page #primary .wpfCheckbox {
    padding-right: .3em;
}
body.catalog-product-page #primary .wpfCheckbox input{
    width: 20px;
    height: 20px;
    
}
body.catalog-product-page #primary .wpfFilterContent label {
    font-weight: 400;
    font-size: 0.9rem;
}
body.catalog-product-page #primary .wpfFilterButtons, body.catalog-product-page #primary .wpfFilterButtons .btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}