.footer {
    max-width: 1800px;
    border-top-left-radius: 20px;
    background-color: #202020;
    color: #fff;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;

    position: relative;
}
.footer::after {
    content: '';
    width: 100vw;
    height: 100%;
    background-color: #202020;
    position: absolute;

    left: 100px;
    top: 0;
    z-index: -1;

}
.footer .inner {
    padding-top: 3em;
    padding-bottom: 3em;
}
.footer .inner .footer__top {
  display: flex;
  justify-content: space-between;
}
.footer .inner .footer__logo {
    color: #626262;
    font-size: 0.7em;
    margin-top: 1em;
}
.footer .inner .footer__logo .logo {
    margin-bottom: 1em;
}
.footer .inner .footer__logo .info {
    margin-top: 1.4em;
}
.footer .inner .footer__nav {
 color: #9F9F9F;
 display: flex;
 flex-direction: column;
 font-size: 0.9rem;
}
.footer .inner .footer__nav a {
    display: block;
    margin-bottom: 1em;
}
.footer .inner .footer__contacts p {
    margin-bottom: .5em;
    font-size: 0.9rem;
}
.footer .inner .footer__contacts .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6em;
    font-size: 1.25rem;
    font-weight: 300;
}
.footer .inner .footer__contacts .contacts a {
    display: flex;
    column-gap: 0.4em;
    align-items: center;

    margin-bottom: 0.2em;
}
.footer .inner .footer__social {
    display: flex;
    column-gap: 1em;
    align-items: center;
}

.footer .inner .footer__bottom {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid #3C3C3C;
  padding-top: 1.8em;
  padding-bottom: 1em;
  margin-top: 3em;

  font-size: 0.7rem;

  color: #ADADAD;
}