/* Header */
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2.8em;
  padding-bottom: 2em;
}
.header .inner .header__nav{
    display: flex;
    column-gap: 2em;
}
.header .inner .header__buttons {
  display: flex;
  column-gap: 1em;
}
.header .inner .header__buttons .header__cart-btn{
    background-image: url(./images/cart.svg);
}
.header .inner .header__buttons .header__user-btn{
    background-image: url(./images/user.svg);
}